body{
    margin-left: 5px;
    width: fit-content;
    max-width: 1028px;
    border: 2px solid #E7E2E1;
}
.firstSect{
    display: flex;
    height: 375px;
}
.background-boy{
    width: 80vw;
    height: 375px;
    background-image: url("../images/image.png");
    background-size: cover;
}
.blackBox{
    width: 20vw;
    height: 375px;
    border: 28px solid black;
    background-color: black; 
}
.secondSect{
    height: 441px;
}
.buttons{
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #E7E2E1;
}
.compare{
    width: 465px;
    height: 44px;
    background-color:#E53F23;
    display: flex;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
}
.wishlist{
    width: 465px;
    height: 44px;
    border-radius: 5%;
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}
/* xarvezi */
button{
    background:none;
    border: none;
}
.buttonIcon{
    width: 15px;
    height: 15px;
}
.stats{
    height: 212px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.stats div{
    align-items: center;
    display: flex;
    height: 33%;
    width: 460px;
    justify-content: space-between;
    border-bottom: lightgray 1px solid;
}
hr{
    color: black;
    height: 2px;
    width: 100%;
}
.statDetails{
    display: flex;
    height: 135px;
    flex-direction: column;
    gap: 4px;

}
.statDetails div{
    border: 15px solid black;
    height: 65px;
    display: flex;
    background-color: black ;
    justify-content: space-between;
    align-items: center;
}
.playerDetails{
    color: aliceblue;
}